body {
  margin: 0;
  padding: 0;
  background: #c0c0c0;
}

button, table, textarea, ul.tree-view  {
  -webkit-font-smoothing: none;
  font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo, Monaco;
  font-size: 12px;
}
textarea {
  max-width: 546px;
  max-height: 300px;
  width: 100%;
}
.head-section {
  display: grid;
  grid-template-rows: 50px 1fr;
 
}
.main{
  display: grid;
  grid-template-columns: 200px 1fr;
  height: calc(100vh - 90px);
  padding: 10px;
}
.main aside{
  background: #fff;
  max-height: calc(100vh - 90px);
  overflow: auto;
}
.main main{
  padding-left: 20px;
}
.submain {
  display: grid;
  grid-template-columns: 1fr 350px;
}
.pb-1{
  padding-bottom: 1rem;
}
.boxshadow-0{
  box-shadow: none !important;
}
p.error{
  color: red;
  font-style: italic;
}
.table-text-middle{
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  height: 80vh;
}
.content-center{
  display: flex;
    justify-content: center;
    align-items: center;
}
.m-0{
  margin: 0;
}